.container {
margin-left: 50px;
margin-right: 50px;
font-size: larger;
}
header {
     padding-bottom: 40px;
     background-color: #0F1035 ;
     color:#365486;
}
main {
background-color: #DCF2F1;
}
img{
     width: 128px;
     float: right;
     height: 145px;
}
h1,h2{
     text-align:center;
 }
 table, th, td {
     border:1px solid black;
 }
 h3{
     color:#365486;
 }